doctype html

html.h-100
  title= settings.title
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='bootstrap.min.css')

  body.h-100
    .container.d-flex.h-100: .justify-content-center.align-self-center.text-center.mx-auto

      h1.mb-4!= settings.title

      if req.query.thankyou != null
        .alert.alert-success.mb-4: h4.m-0 Thank you for your donation!

      form(method='post')
        .form-row.justify-content-center
          input(type='hidden', name='_csrf', value=req.csrfToken())
          .col-auto
            input.form-control.form-control-lg(name='amount', type='number', placeholder='Tip amount', step='0.00000000001', style='width:10em', autofocus)
          .col-auto
            select.form-control.form-control-lg(name='currency')
              for currency in [ 'BTC', 'USD', 'EUR', 'GBP', 'CNY', 'JPY', 'ILS' ]
                option= currency

        button.btn.btn-lg.btn-primary.mt-4(type='submit') Send tip

    .fixed-bottom.text-right.pb-2.pr-2.text-info powered by #[a(href='https://github.com/shesek/bakshish') bakshish]
